* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 21px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.075px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  text-align: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
}

.table {
  width: auto;
  user-select: none;
  display: flex;
  flex-direction: column;

  .thead {
    display: flex;
    align-items: center;

    width: 100%;
    padding: 10px;
    height: 75px;

    background-color: rgb(69, 118, 243);
    color: white;
    font-weight: bold;
  }

  .item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .name-column {
    width: 250px;
  }

  .offers {
    width: 200px;
    padding: 4px;

    &.clicked {
      cursor: pointer;
    }
  }

  .links-and-promo {
    display: flex;
    width: 200px;
    flex-direction: column;

    & > * {
      margin: 4px;
    }
  }

  .traffic-type {
    width: 150px;
  }

  .clicks {
    width: 100px;
  }

  .cr {
    width: 100px;
  }

  .row {
    width: 100%;
    display: flex;
    flex-direction: row;

    border-bottom: 1px solid #e4e5e8;
    background-color: #f1f2f6;

    color: rgb(44, 44, 44);

    .name {
      width: 250px;
    }
  }

  .name {
    padding: 8px;
    cursor: pointer;
  }

  .platform-wrapper {
    display: flex;
    flex-direction: column;

    .platform-row {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 8px;

      &:not(:last-child) {
        border-bottom: 1px solid #e4e5e8;
      }

      .offer-body {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        .offer-body-row {
          padding: 4px 0;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;

          & > * {
            height: 35px;
          }
        }
      }
    }
  }

}